@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
               "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
               sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-700;
  height: 100vh;
  font-size: 12pt;
}

code {
  font-family: Input, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
               monospace;
}

#app {
  @apply container mx-auto h-screen;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main";
}

header { grid-area: header; color: white; }
header h1 { @apply font-mono text-4xl text-center mt-2; }

main {
  @apply bg-white mt-8 mx-auto p-4 pb-5;
  @apply flex justify-center content-center;
  grid-area: main;
  width: min(50%, 75vw);
  height: min(75%, 50vh);
}

main pre { @apply float-right; }

.main-container { width: 100%; }

label { @apply bg-white p-1 pl-0; }

label > input { @apply font-mono text-right; }

#colorer { float: left; }

.color-input label { @apply flex gap-0.5; }
.color-input label span { @apply inline-block w-4; }
.color-input input[type=number] { width: 6ch; }
.color-input input[type=range] { @apply flex-shrink; }

.color-box { width: 100%; height: 100%; }
